*{
padding: 20px;
gap: 20px;
display: flex;
}
.sidebar {
background: #df6b6b;
padding: 20px;
width: 25%;

}
.content {
display: flex;
flex-flow: row wrap;
background: #eb7070;
padding: 20px;
gap: 20px;
}
.section {
display: flex;
flex-direction: column;
background: white;
padding: 20px;
box-shadow: 0 0 5px rgba(180, 106, 106, 0.1);

}
.card-container {
display: flex;
gap: 15px;
width: 100%;
flex-direction: row;
flex-wrap: wrap;
flex-grow: 1;
}
.card {
background: rgb(81, 68, 68);
padding: 70px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
text-align: center;
flex-basis: calc(33.33% - 10px);
box-sizing: border-box;

}
.footer {
margin: 20px;
padding: 10%;
}
